*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.ftop{
	display: flex;
	align-items: flex-end;
	margin: 20px 0;
}
.ftop img{
	width: 36px;
	height: 36px;
}
.ftop span{
	font-size: 24px;
}
.ftop input{
	margin-top: 1px;
	margin-left: 300px;
	width: 428px;
	height: 34px;
	border: 1px solid #cccccc;
	border-right: none;
	border-radius: 1px;
	/* outline-style: none; */
}
.ftop input:hover{
	border-color: #FF9D00;
}
.ftop input:focus{
	border-color: #FF9D00;
}
.ftop button {
	height: 34px;
	width: 50px;
	border: 1px solid #FF9D00;
	background-color: #FF9D00;
	color: #fff;
	outline-style: none;
	cursor: pointer;
	border-radius: 1px;
}
.ftop button:hover {
	background-color: #ff9d55;
}
/* div .ant-btn{
	position: relative !important;
	left: 0;
	top: 0px;
	padding-top: -8px !important;
	margin-top: 0;
	height: 34px;
	color: white !important;
	background: #FF9D00!important;
	border-color:#FF9D00 !important;
} */
/* div .ant-btn-primary {
	padding-top: -8px !important;
	margin-top: 0;
} */
/* div .ant-input:hover{
	border-color:#FF9D00 !important;
}
div .ant-input:focus{
	border-color: #FF9D00 !important;
	box-shadow: none !important;
} */
.lsb{
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.lsb1{
	width: 256px;
	border: 3px solid #FF9D00;
	padding-left: 20px;
	padding-top: 11px;
	padding-right: 20px;
}
.lsb1 li{
	height: 68px;
}
.lsb1 a{
	padding-right: 5px;
	color: black;
}
.lsb1li11{
	display: flex;
}
.lsb1li11 img{
	width: 32px;
	height: 32px;
	margin-right: 5px;
}
.lsb1 a:hover{
	color: #FF9D00;
}
.lsb2{
	margin-left: 20px;
}
.lsb2 img{
	width: 850px;
	height: 405px;
	margin: 0;
}
.lsb3,
.lsb111,
.lsb222,
.lsb333,
.lsb444,
.lsb555,
.lsb666
{
	width: 900px;
	height: 507px;
	background-color: white;
	position: absolute;
	left: 256px;
	top:0px;
	padding: 50px;
	display: none;
	opacity: 0.8;
}
.lsb3 li span:first-of-type,
.lsb111 li span:first-of-type,
.lsb222 li span:first-of-type,
.lsb333 li span:first-of-type,
.lsb444 li span:first-of-type,
.lsb555 li span:first-of-type,
.lsb666 li span:first-of-type
{
	font-weight: 700;
}
.lsb li span {
	padding:0 5px;
}
.lsb3 ul:first-of-type{
	padding-right: 200px;
}
.lsb1li1:hover .lsb3{
	display: block;
	border: 2px solid #FF9D00;
	border-left: none;
	
}
.lsb1li11:hover{
	border-bottom: 2px solid #FF9D00;
	transform: translate(5px,0);
	transition: all 0.5S;
}
.lsb31{
	display: flex;
}
.lsb1li2:hover .lsb111,
.lsb1li3:hover .lsb222,
.lsb1li4:hover .lsb333,
.lsb1li5:hover .lsb444,
.lsb1li6:hover .lsb555,
.lsb1li7:hover .lsb666
{
	display: block;
	border: 2px solid #FF9D00;
	border-left: none;
}
.lsb111 img,
.lsb222 img,
.lsb333 img,
.lsb444 img,
.lsb555 img,
.lsb666 img{
	width: 600px;
	height: 300px;
	position: absolute;
	left: 55px;
	top: 100px;
}
.lsb21{
	width: 730px;
	height: 75px;
	display: flex;
	justify-content: space-around;
	padding-top: 45px;
	padding-left: 100px;
}
.lsb211{
	background-image: url(../ljimg/jl.png);
	background-repeat: no-repeat;
	height: 36px;
	width: 36px;
	background-position: -31px 0;
	margin-right: 5px;
}
.lsb2111 p{
	margin: 0 ;
}
.lsb21 li{
	display: flex;
	align-items: center;
}
.lsb2111 p:nth-of-type(2){
	font-size: 12px;
	color: #999;
}
.lsb212{
	background-image: url(../ljimg/jl.png);
	background-repeat: no-repeat;
	height: 36px;
	width: 36px;
	background-position: -31px -36px;
	margin-right: 5px;
}
.lsb213{
	background-image: url(../ljimg/jl.png);
	background-repeat: no-repeat;
	height: 36px;
	width: 36px;
	background-position: -31px -80px;
	margin-right: 5px;
}
