.loginbox {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(./taodao.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	top: 0px;
	z-index: 2;
}

.logincontent {
	width: 400px;
	height: 400px;
	background-color: #FFFFFF;
	margin: 80px auto;
	padding-top: 50px;
	box-sizing: border-box;
	box-shadow: 1px 10px 20px#FFFFFF;
	opacity: 0.8;
}

.lo-iptbox {
	height: 40px;
	width: 100%;
	font-size: 16px;
	text-align: center;
}
.lo-iptbox > span {
	display: inline-block;
	width: 70px;
	margin-right: 5px;
}
.lo-iptbox>input {
	box-sizing: border-box;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	border: #d9d9d9 solid 1px;
	height: 30px;
}
.lo-iptbox>input:hover {
	border: #ffa322 solid 1px;
}
.lo-iptbox>input:focus {
	border: #ffa322 solid 1px;
}

.lo-tips {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #F5222D;
}

.lo-goregist {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.lo-goregist>div {
	display: inline-block;
	color: #ffa322;
	cursor: pointer;
	width: 60px;
	margin: 20px auto;
}
.lo-goregist>div:hover {
	color: #ff7149;
}

.lo-btnbox {
	width: 200px;
	height: 40px;
	box-sizing: border-box;
	margin: 40px auto;
	display: flex;
	justify-content: space-between;
}

.lo-btnbox>div {
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 20px;
	color: #FFFFFF;
	background-color: #1890ff;
	font-size: 18px;
	cursor: pointer;
}
.lo-login:hover {
	background-color: #40a9ff;
}
.lo-btnbox>.lo-cancel {
	background-color: #f2f4f5;
	color: #333333;
}
.lo-btnbox>.lo-cancel:hover {
	background-color: #E5E5E5;
}